* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 30px;
    background-color: #ebebeb;
    color: #1e1e1e;
}

input {
    padding: 6px;
    border: 1px solid transparent;
    outline: none;
}

input:focus {
    border: 1px solid #bebebe;
}

button {
    padding: 6px 18px;
    border: 1px solid transparent;
    outline: none;
    background-color: #bebebe;
    cursor: pointer;
}

button:hover {
    background-color: #a2a2a2;
    background-color: darkblue;
    color: white;
}

.toolbar {
    margin-bottom: 2rem;
}

.books-container, .list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    padding: 0;
    max-width: 1200px;
}

.list-item {
    background: white;
    border-radius: 10px;
    width: 250px;
    padding: 0 1rem .5rem;
    border: 2px solid transparent;
    list-style: none;
    overflow-wrap: break-word;
}

.list-item h4 {
    margin: 0;
    text-transform: capitalize;
}

.list-item p {
    font-style: italic;
}

.fa-stack {
    cursor: pointer;
    top: -.73em;
    right: -12.86em;
}

.fa-circle {
    color: darkblue;
}

.fa-stack:hover .fa-circle {
    color: crimson;
}

.empty {
    background-color: #ffc107;
    border: 1px solid #ffc107;
    padding: .75rem;
    width: fit-content;
}